<h1>Find the best developer now!</h1>

<ul class="developer-list">
<% @developers.each do |d| %>
<li><%= d.user.email %>
<%= link_to 'view profile',developer_path(d) %> <%= d.rating %> stars <%= d.description %></li>
<% end %>
</ul>
<br>
<%= link_to 'See my bookings', bookings_path %>
<br>
<h3>Do you want to become a developer?</h3>
<%= link_to 'Fill a form', new_developer_path %>
