<div class="form-style-5">
  <%= simple_form_for @developer do |f| %>
    <fieldset>
    <legend><span class="number">1</span> Developer Info</legend>
    <%= f.input :first_name, placeholder:"Your First Name *", label: false %>
    <%= f.input :last_name, placeholder:"Your Last Name *", label: false %>
    <%= f.input :description, as: :text, placeholder:"About yourself, special skills, your hourly rate", label: false %>
<label for="language">Preferred Programmimg language</label>
<select id="language" name="language" multiple>
  <option value="1">JavaScript</option>
  <option value="2">PHP</option>
  <option value="3">Java</option>
  <option value="4">Golang</option>
  <option value="5">Python</option>
  <option value="6">C#</option>
  <option value="7">C++</option>
  <option value="8">Erlang</option>
</select>
</fieldset>
<fieldset>
<legend><span class="number">2</span> Additional Info</legend>
<%= f.input :address, placeholder:"Your Address *", label: false %>
<%= f.file_field :image, placeholder:"Profile picture URL *", label: false %>
</fieldset>
<%= f.submit :submit %>
<% end %>
</div>
